*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.container{
  background-color: white;
  width: 100%;
  height:100%;
  margin: 0 auto;
}

.header{
  background-color: tomato;
  width: 100%;
  height: 60px;
  text-align: center;
  padding-top: 20px;
  color: white ;
}
.navber{
  background-color: #f4f4f4;
  display:flex;
  justify-content: space-between;
  padding: 15px;
  
}
.navber-p{
  display: flex; 
  gap: 10px;
  padding: 15px;

  
}
.main-header{
  background-color: pink;
  padding: 70px;
  display: flex;
  align-items: center;
  background-image: url("./project /IMG-20260329-WA0015.jpg");
}
#text{
  height:40px;
  width: 280px;
  padding: 20px;
  border-radius: 5px;
  border: none;
  gap:0px;
  
}
.search-btn{
  height:40px;
  width:50px;
  border-radius: 5px;
  border: none;
  background-color: mediumseagreen;
  margin-right: 220px;
 
  
  
  
}
.hits{
  display: flex;
  justify-content: center;
 height: 300px;
 
}
.image-row{
  display: flex;
  justify-content: space-around;
 
  
  
  
}
.image-box1{
  background-color: #f4f4f4;
  
  width: 220px;
  height: 100px;
  display: flex;
  text-align: center ;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.red-text{
  color: tomato;
}
.black-text{
  color: #000;
}
.image-box2{
  background-color: mediumseagreen;
  color: white;
  width: 220px;
  height: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.image-box3{
  background-color: #f4f4f4;
  color: tomato ;
  width: 220px;
  height: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.image-box4{
  background-color: #f4f4f4;
  color: tomato ;
  width: 220px;
  height: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.categories-section{
  background-color: white;
  padding: 10px;
  padding-top: 40px;
  width: 100%;
  
  display: flex;
  justify-items: space-between;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  
}
.right-item{

  height: 40px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  
}
.right-btn{
  background-color: mediumseagreen;
  border: none;
  width: 200px;
  height: 40px;
  color: white;
  border-radius: 20px;
  
  justify-content: space-between;
  
}
.left-item{
  height: 100%;
  width: 100%;
}
.hero{
  background-color: white;
  display: flex;
  gap: 20px;
  
}


.left{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.box1{
  padding: 20px;
  background-color: palegoldenrod;
  height: 200px;
  border-radius: 10px;
}
.box2{
  padding: 20px;
  background-color: lightpink;
  height: 200px;
  border-radius: 10px;
}

.middle{
  padding: 10px;
  background-color: darkgrey;
  flex-direction: row;
  width: 230px;
  border-radius: 10px;
}


.right{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.box3{
  background-color: palegoldenrod;
  width: 230px;
  height: 126px;
  padding: 20px;
  border-radius: 10px;
  
}
.box4{
  background-color: lightpink;
  width: 230px;
  height: 126px;
  padding: 20px ;
  border-radius: 10px;
}
.box5{
  background-color: lightcyan;
  width: 230px;
  height: 126px;
  padding: 20px ;
  border-radius: 10px;
}
.right-2{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.box6{
  background-color: lightcyan;
  width: 230px;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
}
.box7{
  background-color: palegoldenrod;
  width: 230px;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
}
.courses-categories{
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 100%;
  text-align: center;
}

.img-section{
   height: 300px;
  width: 227px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  border-radius: 10px;
}
.a{
 height: 350px;
  width: 227px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
border-radius: 10px;
}
.text-row{
  display: flex;
  justify-content: space-between;
}
.b{
 height: 350px;
  width: 227px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
border-radius: 10px;
}

.c{
 height: 350px;
  width: 227px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
border-radius: 10px;
}

.d{
 height: 350px;
  width: 227px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
border-radius: 10px;
}
.image{
  padding: 10px;
  height: 350px;
  width: 227px;
  text-align: center;
  justify-content: center;
}
.img-item{
  
  height: 350px;
  width: 227px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  
}
.e{
  
  height: 350px;
  width: 227px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}
.f{
  
  height: 350px;
  width: 227px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}
.g{
  
  height: 350px;
  width: 227px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.h{
  
  height: 350px;
  width: 227px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}
.middle-btn{
  background-color: tomato;
  width: 130px;
  height: 30px;
  border-radius: 15px;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 420px;
}
